/* И для кнопок и для ссылок */
.btn { 
    padding: 16px 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
   
    border: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    text-decoration: none;
    
    cursor: pointer;
    transition: var(--main-trs);
}
/* ====== для .btn--theme-dark 4 состояния ========== */
.btn--theme-dark{
    background: rgba(249, 249, 249, 0.15);
    color: var(--white);
}
/* 1. */
/* убираем обычный фокус (работает с мышкой) */
.btn:focus{
    outline: none;
}
/* 2. */
/* эта обводка появляется только при работе с клвтр */
.btn:focus-visible{
    outline: 2px dashed var(--primary);
    outline-offset: var(--outline-offset);
}
/* 3. */
@media (any-hover: hover){
    .btn--theme-dark:hover{
        color: var(--dark-primary);
        background-color: var(--white);
    }
}
/* 4. */
.btn--theme-dark:active {
    color: var(--white);
    background-color: var(--dark-primary);
}
/* ====== ========== ======== ============== ========== */
.btn--theme-darker{
    background: var(--dark-primary);
    color: var(--white);
}
/* // ================================ */
.btn--theme-light{
    color: var(--dark-primary);
    background-color: var(--light-grey);
}
.btn--theme-white{
    background-color: var(--white);
    color: var(--dark-primary);
}
@media (any-hover: hover){
    .btn--theme-light:hover{
        color: var(--white);
        background-color: var(--primary);
    }
}

.btn--theme-light:active {
    color: var(--white);
    background-color: var(--dark-primary);
}

/* // ================================ */

.btn--with-icon{
    gap: 12px;
}
.product-info__btns{
    display: flex;
    gap: 16px;
}
.btn--with-icon svg{
    fill: currentColor;
    transition: transform 0.3s ease;
}

.catalog__mobile-btn--active svg{
    fill: currentColor;
    transform: rotate(180deg);
}

