@media(max-width: 1280px){
    .product-info__image img{
        width: 500px;
    }
}

@media(max-width: 1024.98px){
    /* выпадающее меню */
   .head__bottom{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;

    width: 80%;
    height: 100vh;
        
    /* для скрола меню, если высота контента больше высоты экрана */
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-100%);
    transition: visibility 0.3s ease, transform 0.3s ease;
   }
   .head__bottom--active{
    visibility: visible;
    transform: none;
   }
   .head__bottom-container{
    justify-content: flex-start;
   }
   .nav{
    padding: 20px 40px;
   }
   .nav__list{
    flex-direction: column;
    align-items: flex-start;
   }
   .hero__content{
    flex-direction: column;
   }
   .hero__img{
    display: none;
   }
   .benefits__list {
    row-gap: var(--gap);
   }
   .benefits__item {
    grid-column: 6 span;
   }
   .products__item{
    grid-column: 6 span;
   }
   .products__list {
    row-gap: var(--gap);
   }
   .product__top{
    width: 100%;
   }
   .product__image{
    width: 100%;
   }
   .hero{
    padding-top: 0;
   }
   .footer__top{
    row-gap: var(--gap);
   }
   .footer__column {
    grid-column: 6 span;
   }
   .footer__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
   }
   .catalog__prodacts {
    --elems: 2;
   }
   .product-info__content{
    flex-direction: column;
    gap: 40px;
   }
   .product-info__text{
    padding-top: 0;
   }
   .cart__content{
    padding: 40px;
   }
   .cart__row--heading .cart__col--quantity{
    padding-left: 30px;
   }
   .cart__col--quantity {
    padding-left: 0px;
   }
   .burger{
    display: block;
   }
}

@media(max-width: 767.98px){
    :root{
        --gap: 16px;
        --container-offset: 24px;
    }
    .btn{
        width: 100%;
    }
    .hero{
        padding: 0px;
    }
    .hero .container {
        padding: 0;
    }
    .hero__text{
        padding: 40px 24px;
    }
    .head__list{
        padding-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 55px;
        gap: 44px;
    }
    .hero__link{
        order: 3;
        margin-top: 32px;
    }
    .hero__title{
        margin-bottom: 80px;
    }
    .hero__link {
        width: 100%;
    }
    .benefits{
        padding: 48px 0;
    }

    .title--mb-large{
        margin-bottom: 36px;
    }
    .title--small{
        font-size: 20px;
    }
    .title--centred{
        text-align: left;
    }
    .products__title {
        font-size: 20px;
    }
    .title{
        max-width: 274px;
    }
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
    .benefits__item {
        grid-column: 4 span;
    }
    
    .benefits__list{
        row-gap: 36px;
    }
    .benefits__subtitletitle{
        font-size: 16px;
    }
    .benefits__description{
        font-size: 14px;
    }
    .products{
        padding: 48px 0;
    }
    .title--mb-small{
        margin-bottom: 20px;
    }
    .products__item{
        grid-column: 2 span;
    }
    .product__image{
        height: 201px;
    }
    .products__list-mobile-slider{
        display: flex;
        width: calc(100% + var(--container-offset));
        overflow-x: auto;
    }
    .products__list-mobile-slider .products__item{
        width: 200px;
        flex-shrink: 0;
    }
    .prodacts__btn {
        display: block;
        width: 100%;
    }

    .newsletter{
        padding: 0;
        background-color: var(--white);
        
    }
    .title--large-xl{
        font-size: 20px;
    }
    .newsletter__content{
        padding: 48px 9px;
        align-items: flex-start;
        text-align: left;
       
    }

    .newsletter__title{
        max-width: none;
    }
    .newsletter__descr{
        margin-bottom: 64px;
        font-size: 14px;
        line-height: 150%;
        text-align: left;
    }
    .form__input{
        width: 224px;
    }
    .form__btn{
        padding: 16px 22px;
        width: auto;
    }
    .about__content{
        flex-direction: column;
    }
    .about__info{
        padding-top: 48px;
        padding-bottom: 38px;
        width: 100%;
    }
    .about__image{
        width: 100%;
        height: 358px;
    }
    .about__title{
        font-size: 20px;
    }
    .about__title {
        margin-bottom: 12px;
    }
    .about__text{
        font-size: 14px;
        line-height: 150%;
    }
    
    .footer {
        padding-top: 40px;
    }
    .footer__column {
        grid-column: 2 span;
    }

    .footer__column--big{
        grid-column: 4 span;
    }
    .footer__top {
        row-gap: 40px;
        padding-bottom: 16px;
    }
    .footer__form {
        flex-direction: row; 
        align-items: center;
        gap: 0;
    }
    .social{
        display: none;
    }
    .footer__bottom{
        text-align: center;
    }
    .footer__bottom {
        padding: 20px 0;
        justify-content: center;
    }
  
    .notice__text{
        width: 294px;
    }
    .notice {
        position: relative;
        padding: 8px 0;
    }
    .about__hero{
        padding: 32px 0;
    }
    .about-hero__title{
        font-size: 32px;
    }
    .brend-info{
        padding: 32px 0px;
    }
    .brend-info__content{
        gap: 24px;
        flex-direction: column;
    }
    .brend-info__text, .brand-info__img{
        width: 100%;
    } 
    .brend-info__text {
        padding: 36px;
        padding-left: 32px;
        padding-bottom: 30px;
        min-height: 281px;
    }
    .title--large{
        font-size: 20px;;
    }
    .brend-info__desc{
        font-size: 14px;
        line-height: 150%;
    }
    .title--mb-smal-xs{
        margin-bottom: 12px;
    }

    .brand-info__img-pic{
        height: 259px;
    }

    .about--reverse .about__content{
        flex-direction: column-reverse;
    } 
    .about--reverse .about__info{
        padding: 32px 24px;
        padding-bottom: 62px;
    }
    .about__btn{
        margin-top: 48px;
    }
    .benefits--about .benefits__item {
        padding: 36px 24px;
        padding-top: 72px;
        background-position: 24px 36px;
    }
   
    .inner-hero {
        display: block;
    }
    .inner-hero__content {
        padding-bottom: 32px;
        min-height: 146px;
        justify-content: center;
    }
    .title--large-xl{
        font-size: 36px;
    }
    .catalog__content{
        grid-template-columns: repeat(4, 1fr);
    }
    .catalog__column {
        grid-column: 4 span;
    }
    .catalog__wrapper{
        grid-column: 4 span;
    }
    .filters{
        display: none;
    }
    .catalog__mobile-btn{
        margin-bottom: 20px;
        display: inline-flex;
    }
    .catalog__mobile-btn--active{
        display: flex;
    }
    .filters--active{
        display: flex;
    }
    .catalog__wrapper{
        margin-top: 28px;
    }
    .products {
        padding: 38px 0;
    }
    .product-info{
        padding: 0;
        padding-bottom: 30px;
    }
    .product-info__image img{
        display: block;
        width: 100%;
        height: 380px;
    }
    .product-info .container{
        padding: 0;
    }
    .product-info__text{
        padding: 0 24px;
    }
    .product-info__content{
        gap: 28px;
    }
    .product-info__title{
        font-size: 24px;
        margin-bottom: 12px;
    }
    .product-info__top{
        padding-bottom: 16px;
        margin-bottom: 24px;
    }
    .product__info-price{
        font-size: 20px;
    }
    .product-info__desc{
        padding: 0;
        max-width: 342px;
        font-size: 14px;
    }
    .product-info__item:not(:last-of-type) {
        margin-bottom: 28px;
    }
    .product-info__chars-text{
        font-size: 14px;
        line-height: 150%;
    }
    .stepper{
        width: 100%;
    }
    .product-info__btns{
        flex-direction: column;
        gap: 14px;
    }
    .product-info__btns .btn--theme-white{
        order: -1;
    }

    section{
        display: none;
    }
    footer{
        display: none;
    }
    .cart{
        display: block;
    }

    .visually-hidden{
        position: static !important; /* Убираем absolute позиционирование */
        clip: auto !important; /* Снимаем обрезку */
        height: auto !important; /* Восстанавливаем размер */
        width: auto !important;
        overflow: visible !important; /* Убираем скрытие содержимого */
    }
    .cart__main-title{
        margin: 0;
        margin-bottom: 32px;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        color: var(--dark-primary);
    }
    .cart__content{
        padding: 0;
        background-color: var(--light-grey)
    }
    .cart__row.cart__row--heading{
        display: none;
    }

    .cart-grid {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 10px;
        grid-template-rows: 105px 55px;
        row-gap: 14px;
    }
    .cart__col--image{
        grid-column: 5 span;
    }
    .cart__image{
        width: 100%;
        height: 166px;
    }
    .cart__col--info{
        grid-column: 7 span;
    }
    .cart__col--quantity{
        /* элемент начинается с 6 колонки и занимает 7кол. */
        grid-column: 6 / 7 span;
    }
    .cart__col--total{
        display: none;
    }
    .cart__info {
        padding: 0;
        padding-left: 14px;
    }
    .cart__titl{
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 140%;
    }
    .cart__stepper{
        padding: 0;
        padding-left: 14px;
    }
    .stepper--cart{
        background-color: var(--white);
    }
    .cart__table {
        padding-bottom: 37px;
        margin-bottom: 15px;
        border-bottom: 1px solid var(--border-grey);
    }
    .cart__row:not(:last-child){
        margin-bottom: 36px;
    }
    .cart__bottom--info{
        margin-bottom: 36px;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

