*,
*::after,
*::before{
    box-sizing: border-box;
}


.page__body{
    min-width: 390px;
    font-family: var(--font-family);
}

.container{
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset)*2));
}
.btn-reset{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/* скрываем инпут */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
о     
.stop-scroll {
    overflow: hidden;
}



/* Общие рекомендации */
/* для body min-width: 390px (по макету для мобилок) задаем сразу */


/* «Transfer Elements» — библиотека, позволяющая вам динамически переносить какие-либо элементы из одного места в другое на брейкпоинтах. */
/* https://github.com/SineYlo/transfer-elements/blob/main/readme-ru.md#installation */

/* Смена сетки с grid-template-columns: repeat(12, 1fr); на grid-template-columns: repeat(4, 1fr); для мобильной версии */

/* на мобилках для button width: auto;  */