*,
*::after,
*::before{
    box-sizing: border-box;
}


.page__body{
    font-family: var(--font-family);
}

.container{
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset)*2));
}
.btn-reset{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.list-reset{
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
/* скрываем инпут */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}



